a{
color:#005544;
text-decoration:none;
}
a:hover{
color:#44A0A0;
text-decoration:underline;
}
body{
background-color:white;
font-family:tahoma;
margin:0;
min-width:1000px;
padding:0;
}
form{
margin:0;
padding:0;
}
img{
border:0;
}
input, select, textarea{
font-family:arial;
}
label{
cursor:pointer;
}
#main{
margin-left:auto;
margin-right:auto;
padding-bottom:4px;
padding-top:45px;
width:1000px;
}
#navbar{
float:left;
text-align:left;
width:45%;
}
#searchcontainer{
float:right;
padding:7px 0px 7px 0px;
text-align:left;
width:55%;
}
#tabnav{
float:right;
font-size:0.8em;
height:40px;
margin:0px 12px 0px 0px;
padding:0;
}
#tabnav a{
color:white;
float:left;
line-height:19px;
padding:12px 9px 8px 9px;
}
#tabnav a:hover{
text-decoration:underline;
}
#tabnav li{
display:inline;
list-style-type:none;
margin:0;
padding:0;
}
#topbar{
background:url(topgradient.png) repeat-x black;
height:40px;
position:fixed;
width:100%;
}
.content{
background-color:white;
border:2px solid #666666;
border-radius:5px;
float:left;
font-family:arial;
font-size:0.8em;
margin-bottom:6px;
padding-bottom:4px;
padding-top:2px;
width:87%;
}
.aplus{
background-color:#90B0F0;
}
.hidden{
background-color:#C0C0C0;
}
.remake{
background-color:#E09090;
}
.str{
display:none;
}
.trusted{
background-color:#A0E0B0;
}
.page{
border:1px solid #666666;
padding:0.25em;
}
.pages a:hover{
background-color:#339999;
border:1px solid #333333;
color:white;
text-decoration:none;
}
.tlistpages{
margin-left:auto;
margin-right:auto;
padding-bottom:4px;
}
.refinesearch{
line-height:2em;
margin-left:8px;
margin-top:4px;
}
.torrentcats{
padding-left:6px;
width:70%;
}
.torrentsubcatlist{
padding-left:18px;
padding-top:4px;
}
.notice{
font-weight:bold;
padding:11px;
}
.eyecatch{
color:red;
font-weight:bold;
}
.tlist{
border:0;
border-collapse:collapse;
margin-bottom:4px;
margin-left:auto;
margin-right:auto;
table-layout:fixed;
width:100%;
}
.tlistsortorder{
padding:8px;
}
.tlisthead{
font-weight:bold;
text-align:left;
vertical-align:top;
}
.tlistthone{
width:10%;
}
.tlistthtwo{
width:61%;
}
.tlistththree{
width:20px;
}
.tlistsizehead{
text-align:center;
width:8%;
}
.tlistthfive{
width:5%;
}
.tlistthsix{
width:5%;
}
.tlistthseven{
width:5%;
}
.tlisttheight{
width:4%;
}
.tlistrow{
border-top:1px solid #666666;
}
.tlisticon{
padding:5px 2px 5px 2px;
}
.tlisticon img{
display:block;
}
.tlistname{
font-weight:bold;
overflow:hidden;
padding-bottom:4px;
padding-top:4px;
word-wrap:break-word;
}
.tlistdownload{
padding-top:4px;
}
.tlistsize{
border-left:1px solid #666666;
border-right:1px solid #666666;
text-align:center;
}
.tlistfailed{
font-weight:bold;
text-align:center;
}
.tlistsn{
color:green;
font-weight:bold;
padding-left:4px;
}
.tlistln{
color:red;
font-weight:bold;
}
.tlistdn{
font-weight:bold;
}
.tlistmn{
color:navy;
font-weight:bold;
text-align:center;
}
.chatbox{
height:400px;
overflow:auto;
}
.chatboxinner{
padding:4px;
}
.deletebutton{
background-color:white;
border:0;
}
.manageheader{
font-size:1.2em;
font-weight:bold;
text-align:center;
}
.manage{
margin:0px 20px 0px 20px;
}
.container{
padding:10px;
}
.viewtop{
border:0;
border-collapse:collapse;
width:100%;
}
.viewtable{
border:0;
border-collapse:collapse;
table-layout:fixed;
width:100%;
}
.viewcategory{
font-weight:bold;
text-align:left;
}
.viewflagtorrent{
font-weight:bold;
text-align:right;
}
.viewtorrentname{
overflow:hidden;
word-wrap:break-word;
}
.viewmisc{
float:left;
width:70%;
}
.viewdownloadbutton{
float:right;
margin-top:2px;
padding-bottom:5px;
padding-top:10px;
text-align:right;
width:20%;
}
.viewdownloadtxtbutton{
float:right;
margin-top:2px;
padding-bottom:5px;
padding-top:10px;
text-align:right;
width:7%;
}
.viewshowhidefiles{
font-style:italic;
font-weight:bold;
}
.thead{
font-weight:bold;
padding-left:2px;
text-align:left;
vertical-align:top;
width:10%;
}
.viewthtwo{
width:60%;
}
.viewthfour{
width:20%;
}
.viewsn{
color:green;
font-weight:bold;
}
.viewln{
color:red;
font-weight:bold;
}
.viewdn{
font-weight:bold;
}
.vtop{
vertical-align:top;
}
.viewdescription{
background-color:white;
border:2px solid #666666;
border-radius:5px;
padding:10px;
word-wrap:break-word;
}
.viewfiletable{
background-color:white;
border:2px solid #666666;
border-radius:5px;
width:100%;
}
.fileentryname{
border-bottom:2px dotted #666666;
float:left;
min-height:1.3em;
overflow:hidden;
padding-left:10px;
width:747px;
word-wrap:break-word;
}
.fileentrysize{
border-bottom:2px dotted #666666;
min-height:1.3em;
width:12%;
}
.comment{
background-color:white;
border:2px solid #666666;
border-radius:5px;
margin-top:4px;
padding:4px;
width:auto;
}
.commentoutline{
background-color:white;
border:3px solid #339999;
border-radius:5px;
margin-top:4px;
padding:4px;
width:auto;
}
.chead{
float:left;
width:25%;
}
.cnumber{
float:right;
font-weight:bold;
text-align:right;
width:3%;
}
.cmain{
clear:both;
word-wrap:break-word;
}
.avatar{
float:left;
width:7%;
}
.avatarstaff{
float:left;
width:37%;
}
.avatarnyaa{
float:left;
width:72%;
}
.commentform{
height:100px;
width:600px;
}
.commentformdiv{
text-align:center;
}
.spoiler, .quote{
background-color:white;
border:2px solid #666666;
border-radius:5px;
padding:10px;
}
.quoteheader{
font-style:italic;
font-weight:bold;
}
.plink{
padding-left:6px;
}
.pedit{
padding-left:6px;
}
.error{
color:red;
font-weight:bold;
padding:8px;
}
.center{
margin:auto;
text-align:left;
width:50%;
}
.flagcontent{
padding-left:6px;
padding-top:4px;
}
.ulform{
padding:4px 0px 6px 6px;
}
.ulformtable{
border:0;
border-collapse:collapse;
padding:0;
}
.manageformtable{
border:0;
border-collapse:collapse;
padding:0;
}
.inputmanagename{
font-weight:bold;
vertical-align:top;
width:140px;
}
.inputmanagetext{
width:600px;
}
.inputmanagetextarea{
height:200px;
width:600px;
}
.inputmanagesubmitter{
width:60px;
}
.inputmanagereason{
width:150px;
}
.inputulname{
font-weight:bold;
vertical-align:top;
width:125px;
}
.inputultext{
width:400px;
}
.inputulselect{
width:404px;
}
.inputultextarea{
height:200px;
width:400px;
}
.inputulrules{
padding-bottom:4px;
width:400px;
}
.inputsearchterm{
width:140px;
}
.inputsearchcategory{
width:140px;
}
.inputsearchsubmit{
margin-left:3px;
width:67px;
}
.inputptext{
width:500px;
}
.inputchatboxmsg{
width:600px;
}
.inputflagreason{
height:150px;
width:300px;
}
